<section class="section download-banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 offset-xl-0 col-lg-7 offset-lg-1 col-md-7">
        <div class="download-banner-content">
          <p class="title title-1">Download <br /> the Next Big Idea App</p>
          <div class="download-banner-action">
            <a href="#" class="download-link">
              <img src="img/app-store.svg" alt="" />
            </a>
            <a href="#" class="download-link">
              <img src="img/play-market.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-4 col-md-5">
          <div class="download-banner-preview">
            <img src="img/phone.png" alt="Download the Next Big Idea App" />
          </div>
        </div>
    </div>
  </div>
</section>