<header class="page-header">
  <div class="container">
    <div class="page-header--row">
      <div class="page-header--row--col __menu">
        <button data-action="toggle-menu" class="btn-toggle-menu">
          <i></i>
          <i></i>
          <i></i>
        </button>
      </div>
      <div class="page-header--row--col __logo">
        <a href="./" class="logo">
          <img src="./img/logo.png" alt="">
        </a>
      </div>
      <div class="page-header--row--col">
        <div class="header-action">
          <a href="#" class="link">
            <span class="link-icon">
              <img src="img/avatar.png" alt="" />
            </span>
            <span class="link-title">Press Preview</span>
          </a>
          <button data-action="toggle-menu" class="btn-toggle-menu d-block d-md-none">
            <i></i>
            <i></i>
            <i></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="mobile-menu" data-area="mobile-menu" data-simplebar>
  <div class="mobile-menu--container">
    <button class="mobile-menu-close" data-action="toggle-menu">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="16.2635" width="23" height="4" transform="rotate(-45 0 16.2635)" fill="#333333" />
        <rect x="3" y="0.263454" width="23" height="4" transform="rotate(45 3 0.263454)" fill="#333333" />
      </svg>
    </button>

    <div class="main-menu">
      <div class="main-menu-item">
        <a href="#" class="main-menu-link">Home</a>
      </div>

      <div class="main-menu-item has-submenu" data-submenu="submenu-submenu-1">
        <span class="has-submenu-icon">
          <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.78196 7.82158L8.09473 5.58694L2.3128 0.000350778L2.70816e-05 2.23499L5.78196 7.82158Z"
                  fill="#333333" />
            <path d="M5.72434 7.76536L8.03711 10L16.074 2.23464L13.7612 -1.90146e-07L5.72434 7.76536Z" fill="#333333" />
          </svg>
        </span>
        <a data-action="submenu-toggle" href="#submenu-1" class="main-menu-link">Topics</a>
        <div class="main-menu-sub" id="submenu-1">
          <ul>
            <li><a href="#">Career </a></li>
            <li><a href="#">Conversations </a></li>
            <li><a href="#">Creativity </a></li>
            <li><a href="#">Entrepreneurship </a></li>
            <li><a href="#">Happiness </a></li>
            <li><a href="#">Health </a></li>
            <li><a href="#">Parenting </a></li>
            <li><a href="#">Psychology </a></li>
            <li><a href="#">Technology</a></li>
          </ul>
        </div>
      </div>

      <div class="main-menu-item has-submenu" data-submenu="submenu-submenu-2">
        <span class="has-submenu-icon">
          <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.78196 7.82158L8.09473 5.58694L2.3128 0.000350778L2.70816e-05 2.23499L5.78196 7.82158Z"
                  fill="#333333" />
            <path d="M5.72434 7.76536L8.03711 10L16.074 2.23464L13.7612 -1.90146e-07L5.72434 7.76536Z" fill="#333333" />
          </svg>
        </span>
        <a data-action="submenu-toggle" href="#submenu-2" class="main-menu-link">Thought Leaders</a>
        <div class="main-menu-sub" id="submenu-2">
          <ul>
            <li>
              <a href="#">
                <span class="small-sircle-img">
                  <img src="./img/person-1.png" alt="Adam Grant">
                </span>
                Adam Grant
              </a>
            </li>
            <li>
              <a href="#">
                <span class="small-sircle-img">
                  <img src="./img/person-2.png" alt="Daniel Pink">
                </span>
                Daniel Pink
              </a>
            </li>
            <li>
              <a href="#">
                <span class="small-sircle-img">
                  <img src="./img/person-3.png" alt="Susan Cain">
                </span>
                Susan Cain
              </a>
            </li>
            <li>
              <a href="#">
                <span class="small-sircle-img">
                  <img src="./img/person-4.png" alt="Malcolm Gladwell">
                </span>
                Malcolm Gladwell
              </a>
            </li>
            <li>
              <a href="#">
                <span class="small-sircle-img">
                  <img src="./img/person-5.png" alt="Daniel Coyle">
                </span>
                Daniel Coyle
              </a>
            </li>
            <li>
              <a href="#">
                <span class="small-sircle-img">
                  <img src="./img/person-6.png" alt="Alex Hutchinson">
                </span>
                Alex Hutchinson
              </a>
            </li>
          </ul>
          <a href="#">View All →</a>
        </div>
      </div>

      <div class="main-menu-item">
        <a href="#" class="main-menu-link">About Us</a>
      </div>
    </div>



  </div>
</div>
