.select{
    &-custom{
      position: relative;
        &-title{
          font-size: 18px;
          color: $color-blue;
          position: relative;
          padding-right: 20px;
          white-space: nowrap;
            &:before{
              content: '';
              position: absolute;
              top: 6px;
              right: 0;
              width: 12px;
              height: 12px;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              background-image: url(../img/arrow-down-blue.svg);
              transition: transform .1s ease;
            }
        }
        &-list{

        }
        &.is-active{
            .select-custom-title{
                &:before{
                  transform: scaleY(-1);
                }
            }
        }
        p{
          margin: 0;
        }
    }
}

.option{
    &-custom{
      font-size: 15px;
      position: relative;
      background-color: transparent;
      border-bottom: none;
      border-bottom: 1px #D8D8D8 solid;
      padding: 15px 0;
      display: inline-block;
      width: 100%;
      color: inherit;
      text-decoration: none;
      transition: color .3s ease;
      cursor: pointer;
        &:last-child{
          border-bottom: none;
        }
        a{
          text-decoration: none;
          color: inherit;
            &.active{
              color: $color-blue;
            }
        }
        @media only screen and (min-width: 991px), (any-hover: hover) {
          &:hover{
            color: $color-blue;
          }
        }
    }
}